^{:log-syntax-error-style :concise
  :css-dirs ["resources/public/css"]}
{:main canastref.core
 :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}
 #_:preloads #_[day8.re-frame-10x.preload devtools.preload]}

