/* style */

body { background-color: #eaede9; 
       color: #002842;
       font-size: 18px;
       line-height: 1.5;
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
       }

.rTableHead
{background-color: #DDD; font-weight: bold; margin-left: 2px ; } 

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 1px 1px ;
    height: 24px;
}

.gewinner { position: fixed; top: 30%; left: 30%; 
            font-size: 24px; font-weight: bold }
